<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between py-2">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © elite-afrique.com 2021</span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Designe by <a href="https://www.linkedin.com/in/hamadou-dao/" target="_blank">  Hamadou DAO </a> from <a href="https://www.linkedin.com/in/hamadou-dao/" target="_blank">https://www.linkedin.com/in/hamadou-dao/ </a></span>
    </div>
</footer>