<h2 mat-dialog-title>{{action=='new'?'Ajouter une société':'Modifier la société '+societe.raison_sociale}}</h2>
<mat-dialog-content class="  sm:p-6 w-200">


    <form class=" " [formGroup]="societeForm">

        <div class="flex flex-col w-full ">
            <div class="flex">
                <mat-form-field class="w-1/2 pr-2">
                    <mat-label>Code</mat-label>
                    <input matInput [formControlName]="'code'" required>
                </mat-form-field>
                <mat-form-field class="w-1/2 pl-2">
                    <mat-label>Regime</mat-label>
                    <input matInput [formControlName]="'regime'" required>
                </mat-form-field>
            </div>

            <div class="flex">
                <mat-form-field class="w-1/2 pr-2">
                    <mat-label>Raison sociale</mat-label>
                    <input matInput [formControlName]="'raison_sociale'" required>
                </mat-form-field>
                <mat-form-field class="w-1/2 pl-2">
                    <mat-label>Sigle</mat-label>
                    <input matInput [formControlName]="'sigle'" required>
                </mat-form-field>
            </div>
            <div class="flex">
                <mat-form-field class="w-1/3 pr-2">
                    <mat-label>N registre (RCCM)</mat-label>
                    <input matInput [formControlName]="'rccm'" required>
                </mat-form-field>
                <mat-form-field class="w-1/3 pl-2">
                    <mat-label>Matricule CNSS</mat-label>
                    <input matInput [formControlName]="'cnss'">
                </mat-form-field>

                <mat-form-field class="w-1/3 pl-2">
                    <mat-label>Matricule CNAMGS</mat-label>
                    <input matInput [formControlName]="'fax'">
                </mat-form-field>
            </div>
            <div class="flex">
                <mat-form-field class="w-1/3 pr-2">
                    <mat-label>Numero contribuable</mat-label>
                    <input matInput [formControlName]="'contribuable'">
                </mat-form-field>
                <mat-form-field class="w-1/3 pl-2">
                    <mat-label>Numero statistique</mat-label>
                    <input matInput [formControlName]="'statistique'">
                </mat-form-field>
                <mat-form-field class="w-1/3 pl-2">
                    <mat-label>NIF</mat-label>
                    <input matInput [formControlName]="'nif'">
                </mat-form-field>
            </div>
            <mat-form-field class="w-full">
                <mat-label>Activite</mat-label>
                <input matInput [formControlName]="'activite'">
            </mat-form-field>
            <div class="flex">
                <mat-form-field class="w-1/2 pr-2">
                    <mat-label>Date de creation</mat-label>
                    <input matInput [matDatepicker]="date_creation" [formControlName]="'date_creation'">
                    <mat-datepicker-toggle matSuffix [for]="date_creation"></mat-datepicker-toggle>
                    <mat-datepicker #date_creation></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="w-1/2 pl-2">
                    <mat-label>Date mise en service</mat-label>
                    <input matInput [matDatepicker]="date_mise_service" [formControlName]="'date_mise_service'">
                    <mat-datepicker-toggle matSuffix [for]="date_mise_service"></mat-datepicker-toggle>
                    <mat-datepicker #date_mise_service></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="flex">
                <mat-form-field class="w-1/2 pr-2">
                    <mat-label>Date effet</mat-label>
                    <input matInput [matDatepicker]="date_effet" [formControlName]="'date_effet'">
                    <mat-datepicker-toggle matSuffix [for]="date_effet"></mat-datepicker-toggle>
                    <mat-datepicker #date_effet></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="w-1/2 pl-2">
                    <mat-label>Date immatriculation</mat-label>
                    <input matInput [matDatepicker]="date_immatriculation" [formControlName]="'date_immatriculation'">
                    <mat-datepicker-toggle matSuffix [for]="date_immatriculation"></mat-datepicker-toggle>
                    <mat-datepicker #date_immatriculation></mat-datepicker>
                </mat-form-field>
            </div>

            <mat-form-field class="w-full">
                <mat-label>Adresse</mat-label>
                <input matInput [formControlName]="'adresse'">
            </mat-form-field>
            <div class="flex">
                <mat-form-field class="w-1/2 pr-2">
                    <mat-label>Code Postal</mat-label>
                    <input matInput [formControlName]="'code_postal'">
                </mat-form-field>
                <mat-form-field class="w-1/2 pl-2">
                    <mat-label>Ville</mat-label>
                    <input matInput [formControlName]="'ville'">
                </mat-form-field>
            </div>
            <div class="flex">
                <mat-form-field class="w-1/2 pr-2">
                    <mat-label>Telephone</mat-label>
                    <input matInput [formControlName]="'telephone'">
                </mat-form-field>
                <mat-form-field class="w-1/2 pl-2">
                    <mat-label>Fax</mat-label>
                    <input matInput [formControlName]="'fax'">
                </mat-form-field>
            </div>
            <mat-form-field class="w-full">
                <mat-label>E-mail</mat-label>
                <input matInput [formControlName]="'email'">
            </mat-form-field>
        </div>
    </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Annuler</button>
    <button mat-button (click)="onSubmit()" [disabled]="!societeForm.valid" cdkFocusInitial>
        {{action=='new'?'Ajouter':'Modifier'}}
    </button>
</mat-dialog-actions>