<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6  pt-10">
        <!-- Title and action buttons -->
        <div class="flex items-center justify-between w-full">
            <div>
                <div class="text-3xl font-semibold tracking-tight leading-8">{{data.raison_sociale}}</div>
                <div class="font-medium tracking-tight text-secondary"> </div>
            </div>
            <div class="flex items-center ml-6">


            </div>
        </div>


        <!-- CONTENT GOES HERE -->
        <div class="border-dashed border-gray-300 rounded-2xl mt-10">

            <!-- Card #25 -->
            <fuse-card class="flex flex-col max-w-300 w-full px-8 pt-6 pb-4 filter-list">
                <div class="flex items-center justify-between">
                    <div class="text-2xl font-semibold leading-tight">Identifications</div>
                    <div class="-mr-3">
                        <button mat-icon-button (click)="edit()">
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:pencil'"></mat-icon>
                        </button>
                    </div>
                </div>
                <div class="flex flex-col mt-5">
                    <div class="flex flex-col w-full ">
                        <div class="flex mb-3">
                            <div class="w-1/2 pr-2 flex flex">
                                <mat-label class="w-1/2 pr-2">Code : </mat-label>
                                <mat-label class="w-1/2 pr-2">{{data.code}}</mat-label>
                            </div>
                            <div class="w-1/2 pl-2 flex flex">
                                <mat-label class="w-1/2 pr-2">Regime : </mat-label>
                                <mat-label class="w-1/2 pr-2">{{data.regime}}</mat-label>
                            </div>
                        </div>
                        <div class="flex mb-3">
                            <div class="w-1/2 pr-2 flex flex">
                                <mat-label class="w-1/2 pr-2">Raison sociale : </mat-label>
                                <mat-label class="w-1/2 pr-2">{{data.raison_sociale}}</mat-label>
                            </div>
                            <div class="w-1/2 pl-2 flex">
                                <mat-label class="w-1/2 pr-2">Sigle : </mat-label>
                                <mat-label class="w-1/2 pr-2">{{data.sigle}}</mat-label>
                            </div>
                        </div>
                        <div class="flex mb-3">
                            <div class="w-1/2 pr-2 flex flex">
                                <mat-label class="w-1/2 pr-2">N registre (RCCM) : </mat-label>
                                <mat-label class="w-1/2 pr-2">{{data.rccm}}d</mat-label>
                            </div>
                            <div class="w-1/2 pl-2 flex">
                                <mat-label class="w-1/2 pr-2">Matricule CNSS : </mat-label>
                                <mat-label class="w-1/2 pr-2">{{data.cnss}}</mat-label>
                            </div>
                        </div>

                        <div class="flex mb-3">
                            <div class="w-1/2 pr-2 flex">
                                <mat-label class="w-1/2 pr-2">Numero contribuable : </mat-label>
                                <mat-label class="w-1/2 pr-2">{{data.contribuable}}</mat-label>
                            </div>
                            <div class="w-1/2 pl-2 flex">
                                <mat-label class="w-1/2 pr-2">Numero statistique : </mat-label>
                                <mat-label class="w-1/2 pr-2">{{data.statistique}}</mat-label>
                            </div>
                        </div>
                        <div class="w-full mb-3">
                            <mat-label class="w-1/2 pr-2">Activite : </mat-label>
                            <mat-label class="w-1/2 pr-2">{{data.activite}}</mat-label>
                        </div>
                        <div class="flex  mb-3">
                            <div class="w-1/2 pr-2 flex">
                                <mat-label class="w-1/2 pr-2">Date de creation : </mat-label>
                                <mat-label class="w-1/2 pr-2">{{data.date_creation}}</mat-label>
                            </div>
                            <div class="w-1/2 pl-2 flex">
                                <mat-label class="w-1/2 pr-2">Date mise en service : </mat-label>
                                <mat-label class="w-1/2 pr-2">{{data.date_mise_service}}</mat-label>
                            </div>
                        </div>
                        <div class="flex  mb-3">
                            <div class="w-1/2 pr-2 flex">
                                <mat-label class="w-1/2 pr-2">Date effet : </mat-label>
                                <mat-label class="w-1/2 pr-2">{{data.date_effet}}</mat-label>
                            </div>
                            <div class="w-1/2 pl-2 flex">
                                <mat-label class="w-1/2 pr-2">Date immatriculation : </mat-label>
                                <mat-label class="w-1/2 pr-2">{{data.date_immatriculation}}</mat-label>
                            </div>
                        </div>

                        <div class="w-full mb-3">
                            <mat-label class="w-1/2 pr-2">Adresse : </mat-label>
                            <mat-label class="w-1/2 pr-2">{{data.adresse}}</mat-label>
                        </div>
                        <div class="flex mb-3">
                            <div class="w-1/2 pr-2 flex">
                                <mat-label class="w-1/2 pr-2">Code Postal : </mat-label>
                                <mat-label class="w-1/2 pr-2">{{data.code_postal}}</mat-label>
                            </div>
                            <div class="w-1/2 pl-2 flex">
                                <mat-label class="w-1/2 pr-2">Ville : </mat-label>
                                <mat-label class="w-1/2 pr-2">{{data.ville}}</mat-label>
                            </div>
                        </div>
                        <div class="flex  mb-3">
                            <div class="w-1/2 pr-2 flex">
                                <mat-label class="w-1/2 pr-2">Telephone : </mat-label>
                                <mat-label class="w-1/2 pr-2">{{data.telephone}}</mat-label>
                            </div>
                            <div class="w-1/2 pl-2 flex">
                                <mat-label class="w-1/2 pr-2">Fax : </mat-label>
                                <mat-label class="w-1/2 pr-2">{{data.fax}}</mat-label>
                            </div>
                        </div>
                        <div class="flex  mb-3">
                            <div class="w-1/2 pr-2 flex">
                                <mat-label class="w-1/2 pr-2">E-mail : </mat-label>
                                <mat-label class="w-1/2 pr-2">{{data.email}}</mat-label>
                            </div>
                            <div class="w-1/2 pl-2 flex">
                                <mat-label class="w-1/2 pr-2">Signataire : </mat-label>
                                <mat-label class="w-1/2 pr-2">{{data.signataire}}</mat-label>
                            </div>
                        </div>

                        <div class="flex  mb-3">
                            <div class="w-1/2 pr-2 flex">
                                <mat-label class="w-1/2 pr-2">NIF : </mat-label>
                                <mat-label class="w-1/2 pr-2">{{data.nif}}</mat-label>
                            </div>
                            <div class="w-1/2 pl-2 flex">
                                <mat-label class="w-1/2 pr-2">Matricule CNAMGS : </mat-label>
                                <mat-label class="w-1/2 pr-2">{{data.fax}}</mat-label>
                            </div>
                        </div>
                    </div>
                </div>

            </fuse-card>
            <!-- Card #25 -->
            <fuse-card class="flex flex-col max-w-300 w-full px-8 pt-6 pb-4 filter-list mt-5">
                <div class="flex items-center justify-between">
                    <div class="text-2xl font-semibold leading-tight">Localisation</div>
                    <div class="-mr-3">
                        <button mat-icon-button (click)="editLocalisation()">
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:pencil'"></mat-icon>
                        </button>
                    </div>
                </div>
                <div class="flex flex-col mt-5">
                    <div class="flex  mb-3">
                        <div class="w-1/2 pr-2 flex">
                            <mat-label class="w-1/2 pr-2">Province : </mat-label>
                            <mat-label class="w-1/2 pr-2">{{ data.province }}</mat-label>
                        </div>
                        <div class="w-1/2 pr-2 flex">
                            <mat-label class="w-1/2 pr-2">Departement : </mat-label>
                            <mat-label class="w-1/2 pr-2">{{ data.departement }}</mat-label>
                        </div>
                    </div>
                    <div class="flex  mb-3">
                        <div class="w-1/2 pr-2 flex">
                            <mat-label class="w-1/2 pr-2">Arrondissement : </mat-label>
                            <mat-label class="w-1/2 pr-2">{{ data.arrondissement }}</mat-label>
                        </div>
                        <div class="w-1/2 pr-2 flex">
                            <mat-label class="w-1/2 pr-2">Quartier : </mat-label>
                            <mat-label class="w-1/2 pr-2">{{ data.quartier }}</mat-label>
                        </div>
                    </div>
                    <div class="flex mb-3">
                        <div class="w-1/2 pr-2 flex">
                            <mat-label class="w-1/2 pr-2">Lieu dit : </mat-label>
                            <mat-label class="w-1/2 pr-2">{{ data.lieu_dit }}</mat-label>
                        </div>
                        <div class="w-1/2 pr-2 flex">
                            <mat-label class="w-1/2 pr-2">Rue : </mat-label>
                            <mat-label class="w-1/2 pr-2">{{ data.rue }}</mat-label>
                        </div>
                    </div>
                    <div class="flex mb-3">
                        <div class="w-1/2 pr-2 flex">
                            <mat-label class="w-1/2 pr-2">Adresse N° : </mat-label>
                            <mat-label class="w-1/2 pr-2">{{ data.adressen }}</mat-label>
                        </div>
                        <div class="w-1/2 pr-2 flex">
                            <mat-label class="w-1/2 pr-2">Code residence : </mat-label>
                            <mat-label class="w-1/2 pr-2">{{ data.code_residence }}</mat-label>
                        </div>
                    </div>

                </div>

            </fuse-card>
        </div>

    </div>

</div>