label>.text-right {
    text-align: right!important;
}

.text-left {
    text-align: left!important;
}

.no-padding-side {
    padding-left: 0!important;
    padding-right: 0!important;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.no-margin-side {
    margin-left: 0!important;
    margin-right: 0!important;
}