<h2 mat-dialog-title>Fiche déclaration retenue</h2>
<mat-dialog-content class="  sm:p-6 w-200">
    <form class=" " [formGroup]="declarationRetenueForm">
        <div class="flex flex-col w-full ">
            <div class="flex">
                <mat-form-field class="w-1/3 pr-2">
                    <mat-label>Année</mat-label>
                    <input matInput [formControlName]="'annee'" required>
                </mat-form-field>
                <mat-form-field class="w-1/3 pl-2 pr-2">
                    <mat-label>Mois</mat-label>
                    <input matInput [formControlName]="'mois'" required>
                </mat-form-field>
                <mat-form-field class="w-1/3 pl-2">
                    <mat-label>Société</mat-label>
                    <input matInput [formControlName]="'societe'" required>
                </mat-form-field>
            </div>
            <div class="flex">
                <mat-form-field class="w-1/3 pr-2">
                    <mat-label>Mode de règlement</mat-label>
                    <mat-select [formControlName]="'mode_reglement'" [value]="declarationRetenue.mode_reglement">
                        <mat-option [value]="'CHEQUE'">{{'Chèque'}}</mat-option>
                        <mat-option [value]="'VIREMENT'">{{'Virement'}}</mat-option>
                        <mat-option [value]="'ESPECE'">{{'Espèce'}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="w-1/3 pl-2 pr-2" *ngIf="declarationRetenueForm.get('mode_reglement').value=='CHEQUE'">
                    <mat-label>Numéro chèque</mat-label>
                    <input matInput [formControlName]="'numero_cheque'">
                </mat-form-field>
            </div>
            <div class="flex">
                <mat-form-field class="w-1/3 pr-2">
                    <mat-label>IBAN</mat-label>
                    <input matInput [formControlName]="'iban'" required>
                </mat-form-field>
                <mat-form-field class="w-1/3 pl-2 pr-2">
                    <mat-label>BIC</mat-label>
                    <input matInput [formControlName]="'bic'" required>
                </mat-form-field>
            </div>

            <div class="flex">
                <mat-form-field class="w-1/3 pr-2">
                    <mat-label>Date de versement </mat-label>
                    <input matInput [matDatepicker]="date_versement" [formControlName]="'date_versement'" required>
                    <mat-datepicker-toggle matSuffix [for]="date_versement"></mat-datepicker-toggle>
                    <mat-datepicker #date_versement></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="w-1/3 pl-2 pr-2">
                    <mat-label>Date signature</mat-label>
                    <input matInput [matDatepicker]="date_signature" [formControlName]="'date_signature'" required>
                    <mat-datepicker-toggle matSuffix [for]="date_signature"></mat-datepicker-toggle>
                    <mat-datepicker #date_signature></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="w-1/3 pl-2">
                    <mat-label>Lieu signature</mat-label>
                    <input matInput [formControlName]="'lieu_signature'" required>
                </mat-form-field>
            </div>

            <div class="flex">
                <mat-form-field class="w-1/3 pr-2">
                    <mat-label>IRPP</mat-label>
                    <input matInput [formControlName]="'irpp'" required>
                </mat-form-field>
                <mat-form-field class="w-1/3 pl-2">
                    <mat-label>TCS</mat-label>
                    <input matInput [formControlName]="'tcs'" required>
                </mat-form-field>
                <mat-form-field class="w-1/3 pl-2">
                    <mat-label>FNH</mat-label>
                    <input matInput [formControlName]="'fnh'" required>
                </mat-form-field>
            </div>
        </div>
    </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close cdkFocusInitial>Annuler</button>
    <button mat-button (click)="onSubmit()" [disabled]="!declarationRetenueForm.valid">
        {{'Enregister'}}</button>
</mat-dialog-actions>