<h2 mat-dialog-title>{{action=='new'?'Ajouter une rubrique':'Modifier rubrique '+rubrique.intitule}}</h2>
<mat-dialog-content class="  sm:p-6 w-200">


    <form class=" " [formGroup]="rubriqueForm">
        <div class="flex flex-col w-full ">
            <div class="flex">
                <mat-form-field class="w-1/3 pr-2">
                    <mat-label>Code</mat-label>
                    <input matInput [formControlName]="'code'" required>
                </mat-form-field>
                <mat-form-field class="w-2/3 pl-2">
                    <mat-label>Intitule</mat-label>
                    <input matInput [formControlName]="'intitule'" required>
                </mat-form-field>
            </div>

            <div class="flex">
                <mat-form-field class="w-1/4 pr-2">
                    <mat-label>Gain</mat-label>
                    <input matInput [formControlName]="'gain'" required>
                </mat-form-field>
                <mat-form-field class="w-1/4 pl-2">
                    <mat-label>Sens</mat-label>
                    <input matInput [formControlName]="'sens'" required>
                </mat-form-field>
                <mat-form-field class="w-1/4 pl-2">
                    <mat-label>Type</mat-label>
                    <input matInput [formControlName]="'type'" required>
                </mat-form-field>
                <mat-form-field class="w-1/4 pl-2">
                    <mat-label>Imprimable</mat-label>
                    <input matInput [formControlName]="'imprimable'" required>
                </mat-form-field>
            </div>
        </div>
    </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close cdkFocusInitial>Annuler</button>
    <button mat-button (click)="onSubmit()" [disabled]="!rubriqueForm.valid">
        {{action=='new'?'Enregister':'Modifier'}}</button>
</mat-dialog-actions>